.products {
    max-width: 100vw;
    min-height: 100vh;
    padding: 0 15px;
    background: var(--main-color);
    text-align: center;
    font-family: var(--font);
}

.products section {
    max-width: 100vw;
    min-height: 100vh;
}

.products h1 {
    padding-top: 100px;
    margin: 0;
}

.products input[type=text] {
    border: none;
    background: var(--card-color);
    height: 30px;
    width: 20%;
    border-radius: 25px;
    outline: none;
    padding: 0px 20px;
    margin: 10px 0px;
}

.products ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vw;
    padding: 0;
    margin: 0;
}

.products ul li {
    display: flex;
    flex-direction: column;
    font-weight: 300;
    font-size: 18px;
    height: 280px;
    width: 100%;
    margin: 25px 0px;
    border-radius: 10px;
    background: var(--card-color);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.products ul li img {
    width: 100%;
    height: 130px;
    object-fit: contain;
    border-bottom: 1px solid rgba(168, 166, 166, 0.603);
}

.products ul li p {
    margin: 10px auto 0 auto;
    max-width: 80%;
}

.products ul li p:nth-last-of-type(1) {
    border: none;
    margin: 10px auto 10px auto;
}

.products ul li button {
    width: 60%;
    padding: 10px;
    margin: auto auto 25px auto;
    border-radius: 10px;
    border: none;
    background: var(--header-color);
    color: var(--font-color);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}

.products ul li button:hover {
    transition: all 300ms;
    transform: scale(1.3);
}

.products h2, .products h2 a {
    display: inline-block;
    width: 60%;
    padding: 5px 0px;
    color: var(--font2-color);
    text-decoration: none;
    border-radius: 10px;
    background: var(--card-color);
}

@media (min-width: 200px) {
    .products input[type=text] {
        width: 50%;
    }
}

@media (min-width: 480px) {
    .products ul {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .products ul li {
        flex: 0 0 40%;
    }

    .products ul li button {
        padding: 5px;
    }
}

@media (min-width: 768px) {
    .products ul {
        min-height: 40vh;
    }
}

@media (min-width: 1024px) {
    .products ul {
        min-height: 40vh;
    }

    .products ul li {
        flex: 0 0 30%;
    }

    .products input[type=text] {
        width: 20%;
    }
}

@media (min-width: 1200px) {
    .products ul {
        min-height: 40vh;
        margin: auto;
    }

    .products ul li {
        flex: 0 0 30%;
    }
}